@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then uses the OrderBy() method, which takes the property to sort. In this case, the page's name.
    - It then generates links so the visitor can go to each page
*@

@{
    //used classic link expressions instead of umbraco

    var numOfProjects = Convert.ToUInt16(Model.MacroParameters["numOfProjects"]);

    var selection = Model.Content.Children
               .Where(c => c.DocumentTypeAlias == "projectsOverview" && c.IsVisible())
               .First()
               .Children()
               .Where(c => umbraco.library.GetPreValueAsString(c.GetPropertyValue<int>("projectStatus")) == "Completed" && c.IsVisible())
               .OrderByDescending(c => c.CreateDate)
               .Take(numOfProjects); }

@if (selection.Count() > 0)
{<div class="card">
        <div class="card-header">Newest 'completed' projects</div>
    <div class="card-body">
            <div class="row text-center">
                @foreach (var item in selection)
                {


                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">@item.Name</h4>
                                @item.CreateDate.ToString("dd MMM yyyy HH:MM")
                            </div>
                            <div class="card-footer">
                                <a href="@item.Url" class="btn btn-primary">View details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
