@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Forbidden>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
                                                 <div class="my-3">
                                                     <h3>403 - No Access!</h3>

                                                     <footer>This page is intentionally left ugly</footer>
                                                 </div>