@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var selection = Model.Content.Site().Children.FirstOrDefault(x => x.IsVisible() && x.DocumentTypeAlias == "projectsOverview").Children.Where(c => c.IsVisible());
    var memberService = ApplicationContext.Current.Services.MemberService;

    /*
     Test if the currentUser is a member of the guest group if he is; only projects with a status that is not 'Idea' will be shown
     If the user identity is not set only 'completed' will be set
     If the user is logged in and is not a part of the guest user group we assume he is part of Active group which allows him to se all projects
     */
    if (Members.GetCurrentLoginStatus().IsLoggedIn) {

        if ((memberService.GetMembersByGroup("Guests").FirstOrDefault(m => m.Name == Members.GetCurrentMember().Name)) != null
            && (memberService.GetMembersByGroup("Active members").FirstOrDefault(m => m.Name == Members.GetCurrentMember().Name)) == null) {
            selection = selection.Where(c => umbraco.library.GetPreValueAsString(c.GetPropertyValue<int>("projectStatus")) != "Idea");
        }
    }
    else
    {
        selection = selection.Where(c => umbraco.library.GetPreValueAsString(c.GetPropertyValue<int>("projectStatus")) == "Completed");
    }
  }

@if (selection.Count() > 0)
{
    <div class="card my-4">
        <div class="card-body">
            <div class="row text-center">
                <!--Loop through selection that is ordered by createdate desc-->
                @foreach (var item in selection.OrderByDescending(s => s.CreateDate))
                {
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <h4 class="card-header">@item.Name</h4>
                            <div class="card-body">
                                Created: @item.CreateDate.ToString("dd MMM yyyy HH:MM")
                            </div>
                            <div class="card-footer">
                                <a href="@item.Url" class="btn btn-primary">View details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
